<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="DATA SOURCE=localhost:1521/ORCL1;PASSWORD=password;USER ID=dannel"
        providerName="Oracle.ManagedDataAccess.Client" />-->
        <add name="ConnectionString" connectionString="DATA SOURCE=oracle1.centennialcollege.ca:1521/SQLD;PASSWORD=password;USER ID=COMP214F16_001_P_2"
        providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
     
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <sessionState timeout="60"/>
  </system.web>
</configuration>